html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* ❗ запрет скролла страницы */
}

.app {
  height: 100vh;
  /* вся высота окна */
  display: flex;
  flex-direction: column;
}

/* расположение элементов управления на шапке программы */
.header-flex {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.left-buttons,
.right-buttons {
  display: flex;
}

/* фиксируем высоту верхней полосы */
nav {
  height: 64px !important;
}

/* размер шрифта */
#btn-plus,
.header-coll-flex,
#open-settings,
#numberPicturesCurrentWindow,
#nameActivSidenavMenu {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: none;
  height: 100%;
  box-shadow: none !important;
}
/* автоматически обрезает длинный текст и добавляет ... */
#nameActivSidenavMenu {
  cursor: default;
  max-width: 200px;
  min-width: 0;
  margin-left: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#numberPicturesCurrentWindow{
  margin-left: 20px;
}

#view-window{
  overflow-y: auto;
  height: calc(100vh - 64px);
}
/* ------------------------------------------------------------------------- */
/* настройка кнопок */
#open-settings {
  padding-inline: 35px;
}
#open-settings i{
  font-size: 1.4rem;
}
#btn-plus{
  padding-inline: 70px;
}

/* всплывающая подсказка */
.material-tooltip {
  background-color: #00838f;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 24px 12px 24px;
  min-height: 0 !important;    /* перебить min-height Materialize */
}

/* для того, чтобы снять клик с label. В модальных окнах в длинных label происходит уход лабели в сторону */
.input-field label {
  pointer-events: none;
}