html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* ❗ запрет скролла страницы */
}

.app {
  height: 100vh;
  /* вся высота окна */
  display: flex;
  flex-direction: column;
}

/* расположение элементов управления на шапке программы */
.header-flex {
  display: flex;
  justify-content: space-between;
}

.left-buttons,
.right-buttons {
  display: flex;
}

/* фиксируем высоту верхней полосы */
nav {
  height: 64px !important;
}

/* размер шрифта */
.header-coll-flex,
#nameActivSidenavMenu {
  font-size: 1.1rem;
  font-weight: 600;
}

/* ------------------------------------------------------------------------- */

#open-settings {
  height: 100%;
  width: 80px;
  font-size: 1rem;
  margin: 0;
  box-shadow: none !important;
}