/* постоянно видимый значёк меню-гамбургер */
.sidenav-trigger {
  display: block !important;
  margin: 0 !important;
  padding-inline: 30px;
}

/* изменение цвета активной вкладки в меню-гамбургер */
.sidenav li.active {
  background-color: #006064;
  /* cyan darken-4 */
}

.sidenav li.active a {
  color: #fff;
}

/* при наведении пункты меню сильнее подсвечиваются (кроме активного) */
.sidenav li:not(.active):hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.sidenav li a {
  font-size: 1.0rem;
  color: rgb(61, 61, 61);
}

/* чтобы иконка меню (и не только) не "съезжала" по высоте */
#nameActivSidenavMenu,
.navbar-fixed nav i.material-icons {
  height: 64px;
  line-height: 64px;
}

/* размер меню-гамбургер */
.material-icons.large {
  font-size: 1.8rem;
}

/* автоматически обрезает длинный текст и добавляет ... */
#mobile-menu li a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* скролл переносим в левую сторону */
.sidenav{
  direction: rtl;
  padding-right: 13px;
  padding-top: 3px;
}
/* Браузер заранее выделит ресурсы для анимации этого элемента */
.sidenav {
  will-change: transform;
}
/* кнопки переносим обратно в правую */
.sidenav li{
  direction: ltr;
  margin-left: 3px;
}

/* чисто то, что относится к ручке для раздвижения меню */
.sidenav.resizable-sidenav {
  width: 300px;
  min-width: 200px;
  max-width: 600px;
}
/* ручка изменения ширины */
#mobile-menu .resize-handle {
  position: absolute;
  top: 0;
  right: 0px;
  width: 7px;
  height: 100%;
  cursor: ew-resize;
  background: rgba(0, 0, 0, 0.1);
}
