/* постоянно видимый значёк меню-гамбургер */
    .sidenav-trigger {
      display: block !important;
    }

    /* изменение цвета активной вкладки в меню-гамбургер */
    .sidenav li.active {
      background-color: #006064;
      /* cyan darken-4 */
    }

    .sidenav li.active a {
      color: #fff;
    }
    /* при наведении пункты меню сильнее подсвечиваются (кроме активного) */
    .sidenav li:not(.active):hover {
      background-color: rgba(0, 0, 0, 0.15);
    }